// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$peach: #f2709c;
$peach-webkit: to bottom, #ff9472, #f2709c; 
$peach-linear: to bottom, #ff9472, #f2709c;


// Spacing
$s-size: 1.6rem;
$m-size: 2.3rem;
$l-size: 3.6rem;