// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue:#464b5e;
$peach: #f2709c;
$peach-webkit: to bottom, #ff9472, #f2709c; 
$peach-linear: to bottom, #ff9472, #f2709c;

// Spacing
$s-size: 1.6rem;
$m-size: 2.3rem;
$l-size: 3.6rem;

// Devices
$desktop-breakpoint: 45rem;